<!DOCTYPE html>
<html>
    <head>
        <title>Interface {{ interface.name }}</title> 
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/spcss@0.8.0">
    </head>
    <body>
        <h1>Report for interface <code>{{ interface.name }}</code></h1>

        <h2>General</h2>
        {%- with date = interface.created.date %}
        <p><b>Creation</b>: {{ "%04d" % date.year }}-{{ "%02d" % date.month }}-{{ "%02d" % date.day }}</p>
        {%- endwith %}
        {%- with date = interface.updated.date, time = interface.updated.time %}
        <p><b>Updated</b>: {{ "%04d" % date.year }}-{{ "%02d" % date.month }}-{{ "%02d" % date.day }} {{ "%02d" % time.hour }}:{{ "%02d" % time.minute }}</p>
        {%- endwith %}
        <p><b>Total traffic</b>:<p>
        <ul>
            <li>tx: {{ interface.traffic.total.tx | prettysize }}</li>
            <li>rx: {{ interface.traffic.total.rx | prettysize }}</li>
        </ul>

        <h2>Year</h2>
        <table>
            <thead>
                <th>date</th>
                <th>tx</th>
                <th>rx</th>
            </thead>
            <tbody>
            {%- for item in interface.traffic.year %}
                <tr>
                    <td>{{ "%04d" % item.date.year }}</td>
                    <td>{{ item.tx | prettysize }}</td>
                    <td>{{ item.rx | prettysize }}</td>
                </tr>
            {%- endfor %}
            </tbody>
        </table>
    </body>
</html>
